//价格颜色
@color_main: rgb(255, 72, 145);
@color_assist: rgb(248, 188, 0);
//普通字体颜色
@color_common: #474245;
@color_gray: #969696;
//背景图片设置
.bg(@width,@height,@color,@url,@size){
	width: @width;
	height: @height;
	background: @color url(@url) no-repeat center center;
	background-size: @size;
}
//设置宽高
.wh(@height,@width: 100%){
	height: @height;
	width: @width;
}